
.hero-inner{
   
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 40px;
}

.hero {   
   padding-top: 100px;
   background: linear-gradient(
         180deg,
         rgba(53, 66, 103, 0.0001) 0%,
         #151824 95.04%
      ),
      url("./../../img/hero-bg.png");
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 60%;
   color: white;
}


.hero__heading{
   
   margin-top: 0;
   font-family: 'Lato';
   font-weight: 400;
   font-size: 48px;
   line-height: 100%;   
   max-width: 80%;
  
}

.hero__text{
   margin-top: 50px;
}

.hero__form{
   margin-top: 50px;
   display: flex;
   flex-direction: column;
}

.hero__label{
   display: inline-block;
   padding-left: 25px;
   position: relative;   
}

.hero__label::before{
   width: 14px;
   height: 14px;
   content: '';
   background:rgba(0,0,0,0);
   border-radius: 50%;
   border: 1px solid white;
   position: absolute;
   left: 0;
   top: 50%;
   transform: translate(0, -50%);
}
.hero__label--active::after{
   width: 10px;
   height: 10px;
   content: '';
   background:#fff;
   border-radius: 50%;
   border: 1px solid rgba(0,0,0,0);
   position: absolute;
   left: 2px;
   top: 50%;
   transform: translate(0, -50%);
}
.hero__input{
   display: block;
   margin-top: 2px;
   width: 100%;
   background: transparent;
   border: none;
   border-bottom: 2px solid #BFC0C5;
   color: white;
   font-size: 20px;
}
.hero__input--1{
   margin-bottom: 30px;
}

.hero__searchBtn{
   font-size: 20px;
   background: #1B7DFF;
   border-radius: 7px;
   width: 100px;
   height: 40px;
   border: none;
   color: white;
   align-self: flex-end;
   margin-top: 30px;
   cursor: pointer;
}


@media (min-width: 680px) {   
   .hero__heading{
      max-width:600px;
      margin-top: 150px;
      
   }
   .hero__text{
      max-width: 700px;
   }
   .hero__form{
      display: flex;
      flex-direction: row;
      align-items: center;      
      margin-top: 100px;
   }
   .hero__input--1{
      margin-bottom: 0;
   }
   .hero__searchBtn{
      margin-top: 0;
   }
   .hero__input-container{
      max-width: 250px;
      margin-right: 70px;
   }
}