@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: "Lato", sans-serif;
   font-size: 16px;
}
.main{   
   /* overflow: hidden; */
}
.header{
   position: fixed; 
   width: 100%;
}
.header-inner {
   
   max-width: 1440px;
   margin: 0 auto;
   display: flex;
   padding: 25px 20px 0;
   color: white;
   align-items: center;
   
}
.header .navBtn-container {
   position: relative;
   margin-left: auto;
}
.header__navBtn {
   cursor: pointer;
   
}
.header .line {
   width: 25px;
   height: 2px;
   background: white;
   content: "";
   margin-top: 5px;
   border-radius: 2px;
   transition: all 0.1s ease-in-out;
}
.header__navBtn--active .line {
   transform-origin: center left;
   width: 20px;
}
.header__navBtn--active .line--1 {
   transform: rotate(45deg);
}
.header__navBtn--active .line--3 {
   transform: rotate(-45deg);
}
.header__navBtn--active .line--2 {
   opacity: 0;
}

.header__nav {
   position: absolute;
   margin-top: 10px;
   right: -500%;
   text-align: right;
   visibility: hidden;
   
}
.header__navBtn--active .header__nav{
   visibility: visible;
   right: 0;
   transition: all 0.3s ease-out;
}
.header__nav-list {
   list-style-type: none;
}
.header__nav-item{
   margin-bottom: 5px;
}
.header__nav-item a{
   text-decoration: none;
   color:white;
}

.hero-inner{
   padding: 20px;
   max-width: 1440px;
   margin: 0 auto;
}






.hero {
   padding-top: 125px;
   background: linear-gradient(
         180deg,
         rgba(53, 66, 103, 0.0001) 0%,
         #151824 95.04%
      ),
      url("./../img/hero-bg.png");
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 60%;
   color: white;
   

}



.hero__heading{
   margin-top: 125px;
   font-family: 'Lato';
   font-weight: 400;
   font-size: 48px;
   line-height: 100%;   
   max-width: 250px;
}

.hero__text{
   margin-top: 50px;

}

.form{
   margin-top: 50px;
   display: flex;
   flex-direction: column;
}

.hero__label{
   display: inline-block;
   padding-left: 25px;
   position: relative;   
}

.hero__label::before{
   width: 14px;
   height: 14px;
   content: '';
   background:rgba(0,0,0,0);
   border-radius: 50%;
   border: 1px solid white;
   position: absolute;
   left: 0;
   top: 50%;
   transform: translate(0, -50%);
}
.hero__label--active::after{
   width: 10px;
   height: 10px;
   content: '';
   background:#fff;
   border-radius: 50%;
   border: 1px solid rgba(0,0,0,0);
   position: absolute;
   left: 2px;
   top: 50%;
   transform: translate(0, -50%);
}
.hero__input{
   display: block;
   margin-top: 2px;
   width: 100%;
   background: transparent;
   border: none;
   border-bottom: 2px solid #BFC0C5;
   color: white;
   font-size: 20px;
}
.hero__input--1{
   margin-bottom: 30px;
}

.hero__searchBtn{
   font-size: 20px;
   background: #1B7DFF;
   border-radius: 7px;
   width: 100px;
   height: 40px;
   border: none;
   color: white;
   align-self: flex-end;
   margin-top: 70px;
   cursor: pointer;
}


.sec {
   height: 100vh;
}

@media (min-width: 680px) {
   
   .hero__heading{
      max-width:600px;
   }
   .header__navBtn{
      display: none;
   }
   .header__nav{
      display: inline-block;
   }
   
   .header__nav {
      position: static;
      visibility: visible;      
   }
   .header__nav-list{
      align-items: center;
      display: flex;      
   }
   .header__nav-item{
      margin-left: 50px;
   }
   .form{
      display: flex;
      flex-direction: row;
      align-items: center;      
      margin-top: 100px;
   }
   .hero__input--1{
      margin-bottom: 0;
   }
   .hero__searchBtn{
      margin-top: 0;
   }
   .input-container{
      max-width: 250px;
      margin-right: 70px;
   }
   .hero__text{
      max-width: 700px;
   }
}
